#footer-wrap
  div(style='width:300px;margin:0 auto; padding:20px 0;')
    | 沪ICP备18018277号-2
    a(target='_blank' href='http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011402009641' style='display:inline-block;text-decoration:none;height:20px;line-height:20px;')
      img(src='/images/beian.png' style='float:left;')
      p(style='float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;') 沪公网安备 31011402009641号
  if theme.footer.owner.enable
    - var now = new Date()
    - var nowYear = now.getFullYear()
    if theme.footer.owner.since && theme.footer.owner.since != nowYear
      .copyright!= `&copy;${theme.footer.owner.since} - ${nowYear} By ${config.author}`
    else
      .copyright!= `&copy;${nowYear} By ${config.author}`
  if theme.footer.copyright
    .framework-info
      span= _p('footer.framework') + ' '
      a(href='https://hexo.io')= 'Hexo'
      span.footer-separator |
      span= _p('footer.theme') + ' '
      a(href='https://github.com/jerryc127/hexo-theme-butterfly')= 'Butterfly'
  if theme.footer.custom_text
    .footer_custom_text!=`${theme.footer.custom_text}`
